/***** LAYOUT *****/

/***** PAGE SPECIFIC *****/

/***** MEDIA QUERIES *****/
@media (min-width: 992px) {
  .container {
    display: flex;
  }
  #navbar {
    position: fixed;
  }
  #main-doc {
    position: absolute;
    left: 20rem;
  }
}
